/* RESET & BAZĂ */
* {
 
  font-family: 'Trebuchet MS', sans-serif;
}

/* body {
  margin: 0;
  
  font-size: 16px;
  color: #a7a7a7;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  margin: 200px;
} */

/* NAVIGAȚIE */


.nav {
  background-color: white;
  position: sticky; 
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.nav .nav-container {
  display: flex;
  align-items: center;
width: 100%;
  padding: 10px 5%;
  flex-wrap: wrap;
}

.nav ul {
  list-style-type: none;
  display: flex;
  margin: auto;

}

.nav li {
  margin: 2px;
}

#btn-acasa {
  padding: 30px 50px;
}
#btn-scanstart {
  padding: 30px 30px;
}
#btn-servicii {

  padding: 30px 45px;
}
#btn-tarife {
  padding: 30px 45px;
}
#btn-contact {
  padding: 30px 40px;
} 

.nav a {
  display: block;
  color: white;
  /* background-color: #444; */
  text-decoration: none;
  font-size: 10px;
  padding: 2px 25px;
  border-radius: 15px;
  font-weight: bold;
  transition: color 0.4s; 
}



#btn-acasa { background-color: #ff5733;font-size: 18px;}
#btn-scanstart { background-color: #33c1ff;font-size: 18px; }
#btn-servicii { background-color: #75ff33; font-size: 18px;}
#btn-tarife { background-color: #ff33d4; font-size: 18px;}
#btn-contact { background-color: #f3ff33; font-size: 18px;}



.logo {
  display: flex;
  align-items: center;
  margin-left: 100px;
  gap: 4px;
  margin-right: 15px;
}

.logo img {
  height: 35px;
  width: auto;
}

 /* SUBMENIU  */
 .submenu {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  /* transition: max-height 0.5s ease, opacity 0.4s ease; */
  top: 100%;
  left: 0;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  
  /* border-radius: 8px; */
  z-index: 1001;
  min-width: 250px;
  
 
} 

.submenu a {

  color:white;
  font-size: 14px;
  
}

.dropdown {
  position: relative;

}

.dropdown:hover .submenu {
  max-height: 500px;
  opacity: 1;
  padding: 10px 0;
  display: block;
}

.submenu li {
  
  padding: 10px 10px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  
}

.sectiuneaCEI1{
    
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
    
}

.CEIs1-text{
    font-size: 18px;
    color:black;
    margin-bottom: 10px;
    max-width: 45%;
}

.sectiuneaCEI2{
    
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
    
}

.CEIs2-text{
    font-size: 18px;
    color:black;
    margin-bottom: 10px;
    max-width: 45%;
}

.sectiuneaCEI3{
    
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
    
}

.CEIs3-text{
    font-size: 18px;
    color:black;
    margin-bottom: 10px;
    max-width: 45%;
}

.sectiuneaCEI4{
    
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    justify-content: space-between;
   margin-left: 250px;
    margin-right: 250px;
    
}

.CEIs4-text{
    font-size: 18px;
    color:black;
    margin-bottom: 10px;
    max-width: 30%;
}

.sectiuneaCEI5{
    
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
    
}

.CEIs5-text{
    font-size: 18px;
    color:black;
    margin-bottom: 10px;
    max-width: 45%;
}