* {
 
  font-family: 'Trebuchet MS', sans-serif;
}

.nav {
  background-color: white;
  position: sticky; 
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.nav .nav-container {
  display: flex;
  align-items: center;
width: 100%;
  padding: 10px 5%;
  flex-wrap: wrap;
}

.nav ul {
  list-style-type: none;
  display: flex;
  margin: auto;

}

.nav li {
  margin: 2px;
}

#btn-acasa {
  padding: 30px 50px;
}
#btn-scanstart {
  padding: 30px 30px;
}
#btn-servicii {

  padding: 30px 45px;
}
#btn-tarife {
  padding: 30px 45px;
}
#btn-contact {
  padding: 30px 40px;
} 

.nav a {
  display: block;
  color: white;
  /* background-color: #444; */
  text-decoration: none;
  font-size: 10px;
  padding: 2px 25px;
  border-radius: 15px;
  font-weight: bold;
  transition: color 0.4s; 
}



#btn-acasa { background-color: #ff5733;font-size: 18px;}
#btn-scanstart { background-color: #33c1ff;font-size: 18px; }
#btn-servicii { background-color: #75ff33; font-size: 18px;}
#btn-tarife { background-color: #ff33d4; font-size: 18px;}
#btn-contact { background-color: #f3ff33; font-size: 18px;}



.logo {
  display: flex;
  align-items: center;
  margin-left: 100px;
  gap: 4px;
  margin-right: 15px;
}

.logo img {
  height: 35px;
  width: auto;
}

 
 .submenu {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  top: 100%;
  left: 0;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  z-index: 1001;
  min-width: 250px;
  
 
} 

.submenu a {

  color:white;
  font-size: 14px;
  
}

.dropdown {
  position: relative;

}

.dropdown:hover .submenu {
  max-height: 500px;
  opacity: 1;
  padding: 10px 0;
  display: block;
}

.submenu li {
  
  padding: 10px 10px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  
}


.sectiunea1{
    
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    
}

.s1-img{

    
    height: auto;
    opacity: 0;
    transform: translateX(650px);
    transition: opacity 1s ease-out, transform 1s ease-out;

}

.s1-img.show {
  opacity: 1;
  transform: translateX(0);
} 




.s1-text{
    font-family: 'Trebuchet MS',sans-serif;
    color:#827c7c;
    width: 35%;

}

.s1-text a{
    color:#3fbfad;
    text-decoration: none;
}


.sectiunea1 h2{

    color:black;

}

.sectiunea2{

    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}

.s2-img{

    
    height: auto;
    opacity: 0;
    transform: translateX(-650px);
    transition: opacity 1s ease-out, transform 1s ease-out;

}

.s2-img.show {
  opacity: 1;
  transform: translateX(0);
} 

.s2-text{
    font-family: 'Trebuchet MS',sans-serif;
    color:#827c7c;
}

.sectiunea2 h2{

    color:black;

}



.popup-overlay{
   position:fixed;
   top:0;
   left:0;
   width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display:none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup-content{

  position: relative;
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3) ;
} 



.popup-logo{
  width: 250px;
  height: auto;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  
}

.popup-content h2{
  color: #3fbfad;
}

.popup-header{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.popup-body{
  text-align: center;
}

.link-btn{
  margin-top: 20px;
  padding: 20px 30px;
  background-color: #3fbfad;
  color: white;
  border: none; 
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.popup-body p{
  font-size: 20px;
  color: #827c7c;
  line-height: 1.5;
  text-decoration:underline;
}

.close-x{
  
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999;
}
